:root{
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --title-text-color:#212121;
    --accent-color: #2196F3;
}
body{
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;   
}
address{
    font-style: normal;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/* section */
.section-title{
color: var(--title-text-color);
font-size: 36px;
line-height: 1.16;
}
/* hero */
.hero-title{
color: var(--secondary-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.button{
color: var(--secondary-text-color);
background-color:var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;

}
/* footer */
.logo-footer{
    color: var(--secondary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    }
    .logo-footer-web{
        color: var(--accent-color);
    }
.footer-address{
line-height: 1.71;
color: var(--secondary-text-color);
}
.footer-contacts{
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--accent-color);
}
/* our projekt button */
.filter-button{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--title-text-color);
background-color: #F5F4FA;
cursor: pointer;
}
.filter-button:hover,
.filter-button:focus{
    color: var(--secondary-text-color);
    background-color:var(--accent-color);
}
/* galery */
.galery .title{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}
.galery .text{
font-size: 16px;
line-height: 1.88;
}
/* HEADER */
.logo{
color: #000000;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}
.logo-web{
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link{
color: var(--title-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-contacts .link{
color: var(--primary-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.site-contacts .link:hover,
.site-contacts .link:focus{
    color: var(--accent-color);
}
.bgc{
    background-color: #2F303A;
}
/* our adv */
.section .title{
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--title-text-color);
}
.section .text{
line-height: 1.71;
}
/* team */
.section .team-title{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: var(--title-text-color);
}
.section .team-text{
font-size: 16px;
line-height: 1.18;
}