/* ____________глобальні стилі_____________ */
:root{
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --title-text-color:#212121;
    --accent-color: #2196F3;
}
body{
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;   
}
address{
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,ul,p{
    margin: 0;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

/* контейнер */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* ________________секція______________________ */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title{
color: var(--title-text-color);
font-size: 36px;
line-height: 1.16;
}

/* ________________хедер_________________ */
.der{
    display: flex;
}
.site-nav{
display: flex;
}
.site-contacts{
    display: flex;
}

.logo{
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    }
    .logo-web{
        color: var(--accent-color);
    }

    .site-nav .link.current{
        color: var(--accent-color);
    }
    .site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
    .site-nav .link:hover,
    .site-nav .link:focus{
        color: var(--accent-color);
    }
    
    .site-contacts .link{
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
    .site-contacts .link:hover,
    .site-contacts .link:focus{
        color: var(--accent-color);
    }
    .bgc{
        background-color: #2F303A;
    }

    /* ___________________футер__________________________ */
.logo-footer{
    color: var(--secondary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    }
    .logo-footer-web{
        color: var(--accent-color);
    }
.footer-address{
line-height: 1.71;
color: var(--secondary-text-color);
}
.footer-contacts{
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--accent-color);
}

/* __________________герой_________________________ */
.hero-title{
color: var(--secondary-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.button{
    border-radius: 4px;
    padding: 10px 32px;
color: var(--secondary-text-color);
background-color:var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
}

/* ____________________наші переваги___________________ */
.list .title{
    margin: 0;
}

.section .title{
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--title-text-color);
}
.section .text{
line-height: 1.71;
}

/* _____________________наша команда________________________ */
.section .team-title{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: var(--title-text-color);
}
.section .team-text{
font-size: 16px;
line-height: 1.18;
}

/* _____________кнопки "наші проекти"_______________________ */
.filter-button{
    border-radius: 4px;
    padding: 6px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    }
    .filter-button:hover,
    .filter-button:focus{
        color: var(--secondary-text-color);
        background-color:var(--accent-color);
    }

/* _____________________галерея_____________________________ */
.galery .title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    }
    .galery .text{
    font-size: 16px;
    line-height: 1.88;
    }
    